body {
  background-color: lightgrey;
}
header {
  display: flex;
}
img {
  height: 30vh;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.navigation ul {
  display: flex;
}
.navigation li {
  list-style-type: none;
  padding: 20px;
  margin-top: 50px;
}
.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}
.navigation li a:hover {
  color: rgb(167, 109, 1);
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("media/spartan-background.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.welcome h1 {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 4rem;
  padding: 10px;
}
h2 {
  font-size: 2.5rem;
  padding: 0 10%;
  margin-top: 5%;
}
p {
  font-size: 1.5rem;
  padding: 0 10%;
  margin-bottom: 5%;
}
.title {
  margin-left: 5%;
}
.title h1 {
  font-size: 4rem;
}
.family {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.family img {
  height: 40vh;
  padding: 50px;
}
.family h3 {
  font-size: 1.5rem;
}
table,
th,
td {
  border: 1px solid black;
}
.assets thead {
  background-color: grey;
}
tr:nth-child(odd) {
  background-color: rgb(172, 172, 172);
}
table {
  text-align: center;
  width: 90%;
  height: 50vh;
  margin-left: 5%;
}
#contact-form input,
textarea {
  border: 2px solid black;
}
#name,
#email,
#message {
  width: 90%;
}
#contact {
  margin-left: 10%;
}
